div.board{
    width: 1000px;
    height: 600px;
    margin: 10vh auto;
    position: relative;
    background: grey;
    border: 1px solid black;
}

div.blocks{
    height: 20px;
    width: 90px;
    background: red;
    display: inline;
    position: absolute;
}

div.desk {
    width: 100px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    bottom: 10px;
    left: 0;
}